body {
    background-color: rgb(36, 36, 36);
    /*color:rgb(255, 186, 68); */
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}